---
import "@/styles/global.css"
import Layout from '../layouts/Layout.astro';
// Components
import { Hero } from "@/components/Hero/hero"
import { Experience } from "@/components/Experience/Experience"
import { Skills } from "@/components/Skills/Skills"
import { AboutMe } from "@/components/AboutMe/AboutMe"
import { Contact } from "@/components/Contact/Contact"
import { Footer } from "@/components/Footer/Footer"
---

<Layout title="Saul MN">
	<main class="">
			<Hero client:load/>
			<Experience client:load/>
			<Skills />
			<AboutMe />
			<Contact />
			<Footer />
	</main>
</Layout>

