---
import "@/styles/global.css"
import Layout from '../layouts/Layout.astro';
// Components
import {Card} from "@/components/ui/card"
import { Hero } from "@/components/hero"
---

<Layout title="Welcome">
	<main class="">
			<Hero />
	</main>
</Layout>

