---
import "@/styles/global.css";
import { References as ReferencesComponent } from "@/components/References/References";
import Layout from "../layouts/Layout.astro";
---

<Layout title="References - Saul MN">
  <main>
    <ReferencesComponent client:load />
  </main>
</Layout>
