---
import "src/styles/global.css";
import { NavBar } from "@/components/NavBar/navbar";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to Saul's portfolio. Explore my projects, skills, and experience in the development and design world."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar client:load />
    <div id="app" class="">
      <slot />
    </div>
  </body>

  <style>
    #app {
      display: grid;
      grid-template-rows: auto 1fr auto;
    }
    .navbar {
      width: 100%;
    }
  </style>
  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: "Roboto", system-ui, sans-serif;
      background: #f8f9fa;
    }
    code {
      font-family:
        "Roboto",
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
